baseURL = 'https://titus-briggs.github.io/my-website/'
languageCode = 'en-uk'
title = 'Titus Briggs Portfolio'
theme = 'FixIt'

# ===== Direct html image sizing =====
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

# ===== Click on images to zoom in =====
[params.page]
lightbox = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'

# ===== About page =====
[[menu.main]]
  identifier = "about"
  name = "About"
  url = "/about/"
  weight = 1
    pre = "<i class='fa-solid fa-circle-question'></i> "

# ===== Categories and tags =====

 [[menu.main]]
    identifier = "categories"
    parent = ""
    pre = ""
    post = ""
    name = "Categories"
    url = "/categories/"
    title = ""
    weight = 2
    [menu.main.params]
      icon = "fa-solid fa-folder-tree"
  [[menu.main]]
    identifier = "tags"
    parent = ""
    pre = ""
    post = ""
    name = "Tags"
    url = "/tags/"
    title = ""
    weight = 3
    [menu.main.params]
      icon = "fa-solid fa-tags"

# ===== Contact me =====

[params.social]
  LinkedIn = "https://www.linkedin.com/in/titus-briggs-sports-data-analyst-1584b025a/"
  Email = "mailto:briggstitus123@gmail.com"

# ===== Colours =====

[params]
  colorScheme = "light"
  colorSchemeToggle = true

# ===== Date format =====
  dateFormat = "02/01/2006"


# not using for the time being
  customSCSS = []
